<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" charset="utf-8">
	<link rel="icon" href="{{ url_for('static', filename='images/xxh.jpg') }}">
</head>
<body>
	{% for message in get_flashed_messages() %}
    	<div class="alert">{{ message }}</div>
	{% endfor %}
	<h2>
		<img alt="Avatar" src="{{ url_for('static', filename='images/xxh-2.jpg') }}" width="80" height="60">
		Log in
	</h2>
	<nav>
		<ul>
			<li><a href="{{ url_for('welcome') }}">Home</a></li>
			<li><a href="{{ url_for('register') }}">Register</a></li>
		</ul>
	</nav>
	<form method="post" action="{{ url_for('login') }}">
		<br>
		Username<br>
    	<input type="text" name="username" required><br><br>
    	Password<br>
   		<input type="password" name="password" required><br><br>
    	<input class="btn" type="submit" name="confirm" value="Confirm">
	</form>
	<footer>
		<small>&copy; 2019 <a href="https://github.com/Xiao-xiaohei">Xiao-xiaohei</a></small>
	</footer>
</body>
</html>